@font-face {
  font-family: 'Pokemon Hollow';
  src: url("../fonts/Pokemon_Hollow.ttf");
}

@font-face {
  font-family: 'Pokemon Solid';
  src: url("../fonts/Pokemon_Solid.ttf");
}

body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0;
  overflow: hidden;
  font-family: "Pokemon Solid";
  z-index: 1;
}

.body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}