/* Navbar Container */
.navbar {
  background-color: rgba(244, 67, 54, 0);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  display: flex;
  margin: 8px;
  justify-content: space-between;
  align-items: center;
  z-index: 4;
}

/* Logo */
.logo>img {
  width: 175px;
}

/* Navigation Elements Container */
.nav-elements {
  width: auto;
  display: flex;
  gap: 15px;
}

/* Navigation Link */
.nav-link {
  /* background-color: white; */
  height: 50px;
  width: 75px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 3px;
  padding-left: 5px;
  z-index: 4;
  margin-right: 40px;
}

/* Navigation Link Text */
.nav-link>a {
  text-decoration: none;
  color: #E1F5F9;
  text-align: center;
  font-size: 25px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Pokemon Images */
.navbar-pokemon-image {
  width: 30px;
  height: 30px;
  position: relative;
  top: 4px;
  margin-right: 5px;
}

/* Pokemon Image Animation on Hover */
.nav-link:hover .pokemon-image {
  animation: pokemon_animation 1s both;
  opacity: 1;
  pointer-events: auto;
}


.link-background {
  right: 150px;
  top: 20px;
  position: absolute;
  background: #0B323C;
  border-radius: 18px;
  width: 115px;
  height: 45px;
  z-index: 0;
  transition: 0.4s cubic-bezier(0.7, 0, 0.38, 0.86) all;
}


/* Keyframes */
@keyframes pokemon_animation {

  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }

  15% {
    transform: translateX(-30px) rotate(-6deg);
  }

  30% {
    transform: translateX(15px) rotate(6deg);
  }

  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }

  60% {
    transform: translateX(9px) rotate(2.4deg);
  }

  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}