/* Poke ID and Name Styles */
.poke-id {
  font-size: 30px;
  padding: 5px;
  opacity: 0.5;
  color: white;
}

.poke-name {
  font-size: 40px;
  padding: 5px;
  font-family: "Pokemon Hollow";
  color: white;
  font-weight: bold;
}

/* Poke Card Styles */
.poke-card {
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  font-family: "Pokemon Solid";
  position: relative;
}

.poke-card>img {
  position: relative;
}

.poke-card:hover {
  transform: translateY(-5px);
}

/* Scrollbar Styles (for Webkit browsers) */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* Container and Pokemon List Styles */
.container {
  width: 30vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  row-gap: 3px;
}

.pokemon-list {
  overflow-y: scroll;
  height: 100vh;
  width: vw;
  display: flex;
  flex-direction: column;
  row-gap: 1vh;
}

/* Pagination Button Styles */
.button {
  margin-top: 0.8vh !important;
  border-radius: 8px !important;
}

/* Buttons Container Styles */
.buttons-container {
  position: sticky;
  width: 70vw !important;
}

/* Loading Styles */
.loading-container {
  display: flex;
  color: white;
  flex-direction: row;
  font-size: 30px;
  z-index: 4;
  position: relative;
  top: 15vh;
}

.ash-loading {
  position: relative;
  transform: rotateY(180deg) scale(1.5);
}

.loading-text {
  position: relative;
  top: 10vh;
  left: 0.2vw;
  letter-spacing: 4px;
}

.loading-text>span {
  animation: blink 1s infinite;
}

@keyframes blink {

  0%,
  20% {
    opacity: 0;
  }

  40%,
  60% {
    opacity: 1;
  }

  80%,
  100% {
    opacity: 0;
  }
}